h1, h2, h3, h4, h5, h6 {
  @apply font-display font-normal;
}

h1 {
  @apply font-medium;
}

body {
  @apply font-body font-light;
}

a {
  transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
  @apply border-b border-blue-light text-blue-standard text-blue-light no-underline;

  &:hover {
    @apply border-transparent;
  }
}

button,
input {
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

/* This is a fix for tailwindcss-bulma-modals */
.modal-close::after {
  height: 50%;
  width: 2px;
}

