a {
  transition: color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out;
  @apply border-b border-blue-light text-blue-standard text-blue-light no-underline;

  &:hover {
    @apply border-transparent;
  }
}

button,
input {
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

/* This is a fix for tailwindcss-bulma-modals */
.modal-close::after {
  height: 50%;
  width: 2px;
}

