#nav {
  a {
    &:before,
    &:after {
      position: absolute;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
    &:before {
      bottom: -1px;
      height: 1px;
      width: 0%;
      content: '';
      background-color: #6cb2eb;
    }
    &:after {
      left: 0;
      top: 0;
      position: absolute;
      content: attr(data-hover);
      color: #ffffff;
      white-space: nowrap;
      max-width: 0%;
      overflow: hidden;
    }
    .active {
      &:before {
        background-color: #bcdefa;
      }
    }
    &:hover:before,
    .active &:before {
      opacity: 1;
      width: 100%;
    }
    &:hover:after,
    .active &:after {
      max-width: 100%;
    }
  }
}
